################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exercise_pg129_Overload/.vs/Exercise_pg129_Overload/v16/Server/sqlite3/db.lock
