################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exercise_pg129_Overload/.vs/Exercise_pg129_Overload/v16/Server/sqlite3/db.lock
/Exercise_pg131_Generics/.vs/Exercise_pg131_Generics/v16/Server/sqlite3/db.lock
/Exercise_pg134_Enums/.vs/Exercise_pg134_Enums/v16/Server/sqlite3/db.lock
/Exercise_Pg137_Structs/.vs/Exercise_Pg137_Structs/v16/Server/sqlite3/db.lock
/Exercise_Pg140_Lambda/.vs/Exercise_Pg140_Lambda/v16/Server/sqlite3/db.lock
/Exercise_Pg154_FileIO/.vs/Exercise_Pg154_FileIO/v16/Server/sqlite3/db.lock
/Exercise_Pg156_DateTime/.vs/Exercise_Pg156_DateTime/v16/Server/sqlite3/db.lock
/Exercise_Pg162_ConstVarChain/.vs/Exercise_Pg162_ConstVarChain/v16/Server/sqlite3/db.lock
/Exercise_Pg165_Exceptions/.vs/Exercise_Pg165_Exceptions/v16/Server/sqlite3/db.lock
